#header{
    max-width: 1000px;
    margin: 0 auto;
    height: 400px;
    background-image: url(hinh/logo.jpg);
    background-size: 100% 100%;
}
.container{
    max-width: 1000px;
    margin: 0px auto;
}
nav{
    display: flex;
    background-color: rgb(16, 185, 185);
    justify-content: center;
    height: auto;
}
#main-menu{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}
#main-menu li {
    position: relative;
}
#main-menu li a{
text-decoration: none;
color: white;
padding: 18px 40px;
display: block;
font-family: sans-serif;
}
#main-menu li a:hover{
    color: black;
}
#main-menu .sub-menu{
    position: absolute;
    list-style: none;
    background-color: rgb(108, 218, 218);
    padding: 10px 0px;
    width: 176.05px;
    border: 1px solid rgb(168, 162, 162);
    display: none;
}
#main-menu li:hover .sub-menu{
    display: block;
}
#main-menu .sub-menu a{
    padding: 9px 16px;
    border-bottom: 1px solid rgb(168, 162, 162);
}
#main-menu .sub-menu{
    right: -22px;
}
#main-menu .sub-menu li:hover a{
    border-bottom: 1px solid rgb(255, 250, 250);
}
#main-menu .sub-menu li:last-child a{
    border-bottom: none;
}
#back{
    max-width: 1000px;
    margin: 0 auto;
}
#back a{
    text-decoration: none;
    color: gray;
    font-size: large;
}
#back a:hover{
    color: black;
}
#back p{
    display: inline-block;
    font-size: large;
    color: rgb(73, 72, 72);
}
#Pagename{
    max-width: 1000px;
    margin: 0 auto;
    height: 50px;
    padding: 30px;
}
#Pagename h1{
    text-align: center;
    color: rgb(81, 134, 231);
    margin: 0;
    padding: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
#sanphambox{
    max-width: 1000px;
    margin: 0 auto;
    padding: 0;
    height: auto;
}
#sanphambox .sanpham{
    width: 23.5%;
    margin: 5px 5px;
    border-radius: 10px;
    border: 2px solid cornflowerblue;
    float: left;
    height: 230px;
    background-color: cornflowerblue;
    padding-bottom: 0;
}
#sanphambox .sanpham .name{
    font-variant: small-caps;
    text-align: center;
    font-size: large;
    color: white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#sanphambox .sanpham img{
    width: 100%;
    height: 207px;
  }
#sanphambox .sanpham a{
    text-decoration: none;
}
#sanphambox .sanpham a:hover{
    text-decoration: none;
    font-weight: bold;
}
footer{
    max-width: 1000px;
    background-color: rgb(16, 185, 185);;
    height: auto;
    margin: 0 auto;
    position: relative;
    clear: both;
}
footer .hotline{
    max-width: 50%;
    padding: 0;
    margin: 0;
}
footer .hotline h3{
    color: white;
    font-size: large;
    font-family: sans-serif;
    display: block;
    padding: 25px;
    margin: 0;
}
footer .hotline ul{
    padding: 20px;
    margin: 0;
}
footer .hotline li{
    list-style: none;
    color: black;
    font-size: medium;
}
footer .hotline li a{
    text-decoration: none;
    color: white;
    font-size: medium;
}
.fb-icon{
    width: 30px;
    height: 30px;
}